<div class="container-index">
  <form class="container-index__form" #userForm="ngForm">
    <p>Búsqueda...</p>
    <div class="container-index__form--search-div">
      <div class="search-bar">
        <input
          type="text"
          [(ngModel)]="word"
          name="search"
          #search="ngModel"
          (keyup)="searchProducts(search.value)"
        />
        <img src="{{ searchIcon }}" alt="login Icon" />
      </div>
    </div>
  </form>
  <div class="container-index__categories-list-container">
    <p>Filtrar por Categoría</p>
    <select
      [ngModel]="selectedCategory"
      #select
      *ngIf="productsState"
      name="categories"
      id="categories"
      (change)="recognizeSubCategoriesByCategory(select.value)"
    >
      <option *ngFor="let categoria of categories" value="{{ categoria }}">
        {{ categoria }}
      </option>
    </select>

    <p>Sub-Categoría</p>
    <select
      [ngModel]="selectedSubCategory"
      #selectSubCategory
      *ngIf="productsState"
      name="subcategories"
      id="subcategories"
      (change)="filterStateBySubCategories(selectSubCategory.value)"
    >
      <option
        *ngFor="let subcategoria of subcategories"
        value="{{ subcategoria }}"
      >
        {{ subcategoria }}
      </option>
    </select>
  </div>
</div>

<div class="main-products">
  <div *ngFor="let productGeneralState of productGeneralStates">
    <div
      *ngIf="productGeneralState.products.length > 0"
      class="container-products"
    >
      <div class="main-products__category">
        <div class="main-products__category--tittle">
          <div>{{ productGeneralState.categoria }}</div>
        </div>
      </div>
      <div
        class="container-products-card"
        *ngFor="let product of productGeneralState.products"
      >
        <div class="container-products-card__content">
          <h6>{{ product.name }}</h6>
          <div class="card__product-div-image">
            <div class="dark"></div>
            <img src="{{ product.imageurl }}" alt="{{ product.name }}" />
          </div>
          <div class="card__product-div-info">
            <p>{{ product.description }}</p>
            <p>{{ product.price }} €</p>
            <div class="card__hidden-info">
              <p class="id">{{ product.product_id }}</p>
              <p class="category">{{ product.categoria }}</p>
              <p class="sub-category">{{ product.subcategoria }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
