<nav class="navbar">
  <div class="navbar__logo-container">
    <img class="navbar__logo-container--logo" src="{{ logo }}" alt="logo" />
  </div>
  <div class="navbar__ul-container">
    <ul class="navbar__ul">
      <a routerLink="/products"><li class="navbar__ul--li">Productos</li></a>
      <a routerLink="/contact"><li class="navbar__ul--li">Contacto</li></a>
      <a routerLink="/company"><li class="navbar__ul--li">Conócenos</li></a>
      <a *ngIf="miToken == 0" routerLink="/login">
        <li class="navbar__ul--li">
          <p>Iniciar sesión</p>
        </li>
      </a>
      <a  *ngIf="miToken != 0">
        <li class="navbar__ul--li__logout">
          <img routerLink="#" class="icon"  src="{{userIcon}}" alt="{{ userName }}">
        </li>
        </a>
        <a *ngIf="miToken != 0">
        <li class="navbar__ul--li__img">
          <img src="{{ logOutIcon }}" alt="logout" (click)="logout()" class="icon"/>
        </li>
      </a>
      <a routerLink="#"
        ><li class="navbar__ul--li">
          <img
            src="{{ cartImage }}"
            alt="cartImage"
            class="navbar__ul--li-img"
          /><ion-badge class="navbar__ul--li-badge" color="light">0</ion-badge>
        </li></a
      >
    </ul>
  </div>
</nav>
<div class="logo-container"></div>
