
<div id="contenedor">
    
  <form (ngSubmit)="submit()" #userForm="ngForm" >
      <h3>Inicio de sesión</h3>
      <div>
          <label for="user">Nombre:</label>
          <input type="text" [(ngModel)]="user.name" name="name" #name="ngModel" required>
          <div *ngIf="name.invalid && name.dirty" class="alert">
              <div *ngIf="name.errors?.required">Campo requerido</div>
          </div>
      </div>
      <div>
        <label for="user">Email:</label>
        <input type="email" [(ngModel)]="user.email" name="email" #email="ngModel" required>
        <div *ngIf="email.invalid && email.dirty" class="alert">
            <div *ngIf="email.errors?.required">Campo requerido</div>
        </div>
    </div>
      <div>
          <label for="password">Contraseña:</label>
          <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required
              minlength="4">
          <label *ngIf="password.invalid && password.dirty" class="alert">
              <label *ngIf="password .errors?.required">Campo requerido</label>
                  <label *ngIf="password .errors?.minlength">Mínimo 4 caracteres</label>
              
          </label>
      </div>
      <button type="submit" [disabled]="!userForm .form.valid">Entrar</button>
  </form>
</div>